@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

header {
    background-color: lightblue;
    color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo img {
    max-width: 150px;
    height: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
}

.nav ul li .btn-reserva {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.nav ul li .btn-reserva:hover {
    background-color: #218838;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #dee2e6;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #007bff;
}

.tarjeta {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.tarjeta:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.imagen-odontologo {
    flex-shrink: 0;
    margin-right: 20px;
}

.imagen-odontologo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #007bff;
}

.informacion-odontologo {
    flex-grow: 1;
}

.informacion-odontologo h2 {
    margin: 0 0 10px;
    color: #007bff;
}

.informacion-odontologo p {
    margin: 5px 0;
    color: #555;
}

.buttons-odontologo {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.btn-editar, .btn-eliminar {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-editar {
    background-color: #007bff;
    color: #fff;
}

.btn-editar:hover {
    background-color: #0056b3;
}

.btn-eliminar {
    background-color: #dc3545;
    color: #fff;
}

.btn-eliminar:hover {
    background-color: #c82333;
}
